{% extends "base.html" %}
{% block title %}Órdenes - Estación Bebidas{% endblock %}
{% block content %}
{% set total = ordenes_data.values()|map('length')|sum %}
<div class="container mt-4">
  <h2 class="text-center mb-4">Órdenes para Bebidas</h2>
  <div class="alert alert-info text-center">
    Total de productos pendientes: <span id="contador-productos-pendientes">{{ total }}</span>
  </div>
  <div id="ordenes-pendientes-lista" class="row">
    {% include 'cocina/_ordenes_agrupadas_cards.html' %}
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"
        integrity="sha512-11t8Q+vY9JlCrr+PveZKTYJq8n7O09Y5X/pk/aMd3vJugSvu4xOunGEUzaADqL3I8cZKE/pBwwCfXzDkRJh2sQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$(document).ready(function() {
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
    socket.on('connect', () => console.log('Conectado al servidor! (Bebidas)'));
    socket.on('disconnect', () => console.log('Desconectado del servidor! (Bebidas)'));

    function cargarOrdenesPendientes() {
        let url = '/cocina/bebidas/fragmento_ordenes';
        $.getJSON(url, data => {
            $('#ordenes-pendientes-lista').html(data.html);
            $('#contador-productos-pendientes').text(data.conteo_productos);
        });
    }

    socket.on('nueva_orden_cocina', cargarOrdenesPendientes);
    socket.on('item_listo_notificacion', cargarOrdenesPendientes);

    $('#ordenes-pendientes-lista').on('click', '.marcar-listo-btn', function() {
        const ordenId = $(this).data('orden-id'),
              detalleId = $(this).data('detalle-id');
        $.post(`/cocina/bebidas/marcar/${ordenId}/${detalleId}`);
    });

    cargarOrdenesPendientes();
});
</script>
{% endblock %}
