{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h1 class="mb-4">Seleccionar Mesa</h1>
  <div class="row g-3">
    {% for m in mesas %}
    <div class="col-6 col-sm-4 col-md-3">
      <form method="POST" action="{{ url_for('meseros.seleccionar_mesa') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="mesa_id" value="{{ m.id }}">
        <button type="submit" class="btn btn-success w-100 text-white p-3 mb-3">
          Mesa {{ m.numero }}
        </button>
      </form>
    </div>
    {% endfor %}
  </div>
  <div class="mt-4 text-center">
    <a href="{{ url_for('meseros.view_meseros') }}" class="btn btn-secondary btn-sm">
      Regresar
    </a>
  </div>
</div>
{% endblock %}
